<div class="panel panel-primary">
  <div class="panel-heading">{{panelTitle}}</div>
  <div class="panel-body">
    <form [formGroup]="customerForm" (ngSubmit)="onSumbit()">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" placeholder="First Name" formControlName="firstName">
      </div>

      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" placeholder="Last Name" formControlName="lastName">
      </div>

      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Email Address" formControlName="email">
      </div>

      <button type="button" class="btn btn-primary" (click)="addContactNumberFormGroup(customerForm, '' , '')">Add Contact</button>

      <div formArrayName="contactNumbers">
        <div *ngFor="let c of customerForm.get('contactNumbers').controls; let i = index">
          <div formGroupName="{{i}}">
            <div class="col-md-3">
              <input type="tel" class="form-control" formControlName="number">
            </div>
            <div class="col-lg-3">
              <select class="form-control" formControlName="type">
                <option value="home">Home</option>
                <option value="work">Work</option>
                <option value="personal">Personal</option>
              </select>
            </div>
            <button type="button" class="btn btn-danger" (click)="removeContactNumber(i)">X</button>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-default" [disabled]="customerForm.invalid">Save</button>
      <div *ngIf="customerForm.get('rev')">
        <input type="hidden" [value]="customer._id" formControlName="id">
        <input type="hidden" [value]="customer._rev" formControlName="rev">
      </div>
    </form>
  </div>
</div>